/*

---------------------------------------------
Table of contents
------------------------------------------------
1. Typography
2. Main Nav
3. Home
4. About
5. Work
5. Contact

--------------------------------------------- */

html {
  font-family: "Open Sans", sans-serif;
}
/* Typography */
p,
a {
  font-weight: 400;
}
.h2 {
  font-size: 40px;
}
.h3 {
  font-size: 28px;
}
.light-300 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300;
}
.regular-400 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400;
}
.semi-bold-60 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 60;
}
.paragraph {
  font-weight: 32px;
}
.color {
  background-color: #8dc043;
  color: #fff;
}
.color:focus {
  box-shadow: none;
}
section {
  background-color: #efefef;
}
.color:hover {
  color: #8dc043;
  background-color: #fff;
}
.ngx-pagination li {
  margin: 5px !important;
}
.ngx-pagination .current {
  background-color: #8dc043 !important;
}

.main-color {
  color: #058997;
}
.bx-right-arrow-alt {
  color: #8dc043;
}
.main-item {
  padding: 0;
}

.btn-view {
  color: #8dc043 !important;
}
.bx-fw {
  cursor: pointer;
}
.links a:hover {
  color: #8dc043 !important;
}

.latest-icon {
  color: #8dc043;
  margin-right: 10px;
}
.news-btn {
  background-color: #f2f2f2;
}
.ngx-dropdown-button {
  height: 50px;
}
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  height: 50px;
}
.input-group .btn {
  height: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 70px;
}
.img {
  height: 300px;
}
.card-text {
  height: 150px;
  overflow: hidden;
}
.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.banner-content {
  margin-top: 10rem;
}

.typo-space-line-center::after {
  left: 50%;
  margin-left: -75px;
}
/* Main Nav */
#main_nav .nav-item .nav-link:hover {
  color: #fff;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* Home */
#index_banner {
  background-image: url("../img/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  min-height: 620px;
  width: 100%;
}
#index_banner .carousel-item {
  min-height: 60vh;
}
#index_banner .carousel-control-prev i,
#index_banner .carousel-control-next i {
  color: #fff !important;
  text-decoration: none;
  font-size: 4em;
}
/* #index_banner .carousel-inner {
  height: 80vh;
} */
.carousel-indicators {
  z-index: 0;
}

#index_banner .carousel-indicators li,
#index_banner .carousel-indicators.active {
  background-color: #fff !important;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
.form-control:focus {
  border: none;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 0;
}
.service-wrapper .service-footer {
  max-width: 720px;
}
.service-work.card {
  border-radius: 10px !important;
  cursor: pointer;
}

.recent-work.card {
  border-radius: 10px !important;
}

/* About */

.card-title {
  height: 90px;
  overflow: hidden;
}

.team-member-img {
  transition-duration: 0.15s;
}
.team-member:hover .team-member-img {
  padding: 10px !important;
}

/* Work */
/* Singel Work */

.background {
  background-image: url("../img/banner-bg-02.jpg");

  background-position: center center;
  background-size: cover;
  width: 100%;
}
.img-container {
  width: 250px;
  height: 250px;
}
.img-container img {
  width: 100%;
  height: 100%;
}
.service {
  position: relative;
  bottom: 100px;
}
.related-content {
  border-radius: 20px;
  cursor: pointer;
}
/* Pricing */
.pricing-list {
  margin-bottom: 1px;
}
.pricing-table {
  max-width: 350px;
  margin: auto;
}
.pricing-table,
.pricing-horizontal {
  border-radius: 15px !important;
}
/* Contact */
#floatingtextarea {
  height: 150px;
}
/* Footer */
.bg-footer {
  background-color: #058997;
}
footer a.text-light:hover {
  color: #bfbfbf !important;
  transition-duration: 0.15s;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
@media (max-width: 860px) {
  .nav-link {
    padding: 0;
  }
  .card-detail {
    width: 80% !important;
  }
  .news-details {
    padding: 150px 10px 50px 10px !important;
  }
  .service {
    bottom: 0;
  }
}
@media only screen and (max-width: 1366px) and (min-width: 1024px) {
  .service {
    bottom: 0 !important;
  }
}
