<!-- Start foundation services -->
<div class="background">
  <div class="container p-5">
    <div class="container text-center p-5 text-light">
      <h1>How we have helped</h1>
      <p>See how Al Foundation have promoted change locally and to the world</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-3 col-sm-12 img-container">
        <img
          class="menu-img navbar-toggler-icon"
          src="../../assets/img/Component 99 – 1.png"
          alt="Menu image"
        />
      </div>
      <div class="col-lg-4 col-md-3 col-sm-12 img-container">
        <img
          class="menu-img navbar-toggler-icon"
          src="../../assets/img/Component 99 – 2.png"
          alt="Menu image"
        />
      </div>
      <div class="col-lg-4 col-md-3 col-sm-12 img-container">
        <img
          class="menu-img navbar-toggler-icon"
          src="../../assets/img/Component 99 – 3.png"
          alt="Menu image"
        />
      </div>
      <div class="col-lg-4 col-md-3 col-sm-12 img-container">
        <img
          class="menu-img navbar-toggler-icon"
          src="../../assets/img/Component 99 – 9.png"
          alt="Menu image"
        />
      </div>
    </div>
    <div class="row justify-content-center service">
      <div class="col-lg-4 col-md-3 col-sm-12 img-container">
        <img
          class="menu-img navbar-toggler-icon"
          src="../../assets/img/Component 99 – 7.png"
          alt="Menu image"
        />
      </div>
      <div class="col-lg-4 col-md-3 col-sm-12 img-container">
        <img
          class="menu-img navbar-toggler-icon"
          src="../../assets/img/Component 99 – 8.png"
          alt="Menu image"
        />
      </div>
      <div class="col-lg-4 col-md-3 col-sm-12 img-container">
        <img
          class="menu-img navbar-toggler-icon"
          src="../../assets/img/Component 99 – 6.png"
          alt="Menu image"
        />
      </div>
    </div>
  </div>
</div>
<!-- End foundation services -->
