<!-- Start Footer -->
<footer class="footer-color pt-4">
  <div class="container">
    <div class="row py-4">
      <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
        <!-- <h4 class="h4 pb-lg-3 text-secondary light-300">Our Company</h4> -->
        <ul class="list-unstyled text-secondary light-300">
          <li class="pb-2">
            <i class="bx-fw bx bxs-chevron-right bx-xs"></i
            ><a
              class="text-decoration-none text-text-secondary link-color"
              href="index.html"
              >News
            </a>
          </li>
          <li class="pb-2">
            <i class="bx-fw bx bxs-chevron-right bx-xs"></i
            ><a
              class="text-decoration-none text-secondary py-1"
              href="about.html"
              >Events
            </a>
          </li>

          <li class="pb-2">
            <i class="bx-fw bx bxs-chevron-right bx-xs"></i
            ><a
              class="text-decoration-none text-text-secondary py-1 link-color"
              href="pricing.html"
              >About</a
            >
          </li>
          <li class="pb-2">
            <i class="bx-fw bx bxs-chevron-right bx-xs"></i
            ><a
              class="text-decoration-none text-secondary py-1"
              href="contact.html"
              >FAQs</a
            >
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-4 my-sm-0 mt-4">
        <!-- <h4 class="h4 pb-lg-3 text-secondary light-300">Our Works</h4> -->
        <ul class="list-unstyled text-secondary light-300">
          <li class="pb-2">
            <i class="bx-fw bx bxs-chevron-right bx-xs"></i
            ><a class="text-decoration-none text-secondary py-1" href="#"
              >Privacy Policy</a
            >
          </li>
          <li class="pb-2">
            <i class="bx-fw bx bxs-chevron-right bx-xs"></i
            ><a class="text-decoration-none text-secondary py-1" href="#"
              >Contact Us</a
            >
          </li>
          <li class="pb-2">
            <i class="bx-fw bx bxs-chevron-right bx-xs"></i
            ><a class="text-decoration-none text-secondary py-1" href="#"
              >Complains</a
            >
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4 my-sm-0 mt-4">
        <h4 class="h4 pb-lg-3 text-secondary light-300">
          Subscribe to Newsletter
        </h4>
        <ul class="list-unstyled text-secondary light-300">
          <div class="input-group">
            <input
              type="text"
              class="form-control email"
              placeholder="Email Address"
              aria-label="Input group example"
              aria-describedby="btnGroupAddon"
            />
            <div class="input-group-prepend">
              <button type="button" class="btn color">Subscribe</button>
            </div>
          </div>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
        <h4 class="h4 pb-lg-3 text-secondary light-300">Follow us on</h4>
        <ul class="list-unstyled text-secondary light-300">
          <i class="bx-fw bx bxl-instagram bx-s"></i>
          <i class="bx-fw bx bxl-youtube bx-s"></i>
          <i class="bx-fw bx bxl-linkedin-square bx-s"></i>

          <i class="bx-fw bx bxl-facebook bx-s"></i>
          <i class="bx-fw bx bxl-twitter bx-s"></i>
        </ul>
      </div>
    </div>
  </div>

  <div class="w-100 bg-footer py-3">
    <div class="container">
      <div class="row pt-2">
        <div class="col-sm-12">
          <p class="text-center text-light light-300">
            All rights reserved - Link Development Company © 2020
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
